@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900');

.font-tiktok {
	font-family: 'TikTok Sans';
}

.text-blue {
	color: #0d6efd;
}
.text-yellow {
	color: #ffc107;
}
.-mt-1 {
	margin-top: -0.25rem;
}
